<div class="container-login">
  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="form">
    <mat-card class="example-card">
      <mat-card-header>
        <mat-card-title matCardTitle></mat-card-title>
      </mat-card-header>

      <mat-form-field floatLabel="never" class="form-element">
        <label>
          <input type="text" matInput placeholder="Username" formControlName="user_name" required>
        </label>
        <mat-error
          *ngIf="submitted && loginForm.controls.user_name.errors && loginForm.controls.user_name.errors.required">
          Username is required
        </mat-error>
      </mat-form-field>

      <mat-form-field floatLabel="never" class="form-element">
        <label>
          <input type="password" matInput placeholder="Password" formControlName="password" required>
        </label>
        <mat-error
          *ngIf="submitted && loginForm.controls.password.errors && loginForm.controls.password.errors.required">
          Password is required
        </mat-error>
      </mat-form-field>

      <div class="form-element">
        <span *ngIf='loading' class="spinner-border spinner-border-sm mr-1"></span>
        <button mat-raised-button color="primary" type="submit" class="button">Submit Form
        </button>
      </div>
    </mat-card>
  </form>
</div>
