
.main-nav-layout-container {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.profile_menu {
  flex: 1 1 auto;
}

.menu-icon {
  margin-right: 5px;
}

.main-nav-layout-is-mobile .main-nav-layout-toolbar {
  position: fixed;
  /* Make sure the toolbar will stay on top of the content as it scrolls past. */
  z-index: 2;
}

h1.main-nav-layout-app-name {
  margin-left: 8px;
}

.main-nav-layout-sidenav-container {
  /* When the sidenav is not fixed, stretch the sidenav container to fill the available space. This
     causes `<mat-sidenav-content>` to act as our scrolling element for desktop layouts. */
  flex: 1;
}

.main-nav-layout-is-mobile .main-nav-layout-sidenav-container {
  /* When the sidenav is fixed, don't constrain the height of the sidenav container. This allows the
     `<body>` to be our scrolling element for mobile layouts. */
  flex: 1 0 auto;
}

.main-nav-layout-container .footer-toolbar {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
}

.mat-drawer-inner-container {
  width: 200px !important;
}

.submenu {
  overflow-y: hidden;
  transition: transform 300ms ease;
  transform: scaleY(0);
  transform-origin: top;
  padding-left: 30px;
}

.submenu.expanded {
  transform: scaleY(1);
}

.mat-menu-item .mat-icon {
   margin-right: 0;
}

mat-sidenav {
  width: 230px;
}

/*mat-sidenav-content{*/
/*  height: 900px;*/
/*}*/


.app-menu-layout.mat-icon {
  right: 6px;
  position: absolute;
}
